<app-page-banner title="Admin Dashboard"></app-page-banner>
<mat-tab-group class="mt-5" mat-align-tabs="start">
  <mat-tab label="Teachers">
    <app-teachers-table></app-teachers-table>
  </mat-tab>
  <mat-tab label="Students">
    <app-students-table></app-students-table>
  </mat-tab>
  <mat-tab label="Parents">
    <app-parents-table></app-parents-table>
  </mat-tab>
</mat-tab-group>
<mat-divider></mat-divider>
<mat-tab-group class="mt-3" mat-align-tabs="start">
  <mat-tab label="Courses">
    <app-courses-table></app-courses-table>
  </mat-tab>
  <mat-tab label="Grades">
    <app-grades-table></app-grades-table>
  </mat-tab>
</mat-tab-group>

