<app-page-banner title="Sign Up"></app-page-banner>
<section class="contact py-5" id="contact">
  <div class="container py-md-4 py-3">
    <div class="title-main text-center mx-auto mb-md-4">
      <h3 class="title-big">Who are you ?</h3>
      <p class="sub-title mt-2">
        Could you kindly let us know which role best describes you on our
        website. This will help us tailor your experience and provide you with
        relevant information.
      </p>
    </div>
    <div class="w3l-index-block4 pb-5">
      <div class="features-bg pb-lg-5 pt-lg-4 py-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 features15-col-text">
              <a
                routerLink="teacher"
                class="d-flex feature-unit align-items-center"
              >
                <div class="col-4">
                  <div class="features15-info">
                    <img
                      class="img-fluid"
                      src="assets/images/blog2.jpg"
                      alt=" "
                    />
                  </div>
                </div>
                <div class="col-8">
                  <div class="features15-para">
                    <h4 class="text-danger">Teacher</h4>
                    <p>
                      Welcome, educators! Explore our resources for teaching and
                      learning.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 features15-col-text">
              <a
                routerLink="student"
                class="d-flex feature-unit align-items-center"
              >
                <div class="col-4">
                  <div class="features15-info">
                    <img
                      class="img-fluid"
                      src="assets/images/blog1.jpg"
                      alt=" "
                    />
                  </div>
                </div>
                <div class="col-8">
                  <div class="features15-para">
                    <h4 class="text-danger">Student</h4>
                    <p>
                      Greetings, students! Dive into a world of knowledge and
                      growth.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 features15-col-text">
              <a
                routerLink="parent"
                class="d-flex feature-unit align-items-center"
              >
                <div class="col-4">
                  <div class="features15-info">
                    <img
                      class="img-fluid"
                      src="assets/images/video.jpg"
                      alt=" "
                    />
                  </div>
                </div>
                <div class="col-8">
                  <div class="features15-para">
                    <h4 class="text-danger">Parent</h4>
                    <p>
                      Hello, parents! Discover tools to support your child's
                      education.
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
